<mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile *ngFor = "let training of trainings; let i = index">
        <div *ngIf = "training.title">
            <a [routerLink] = "['/trainings/', training.category, training.key]">
                <img [src]="training.thumbnailUrl" class="cropped" alt="{{ training.title }}">
                <fa-icon *ngIf = "checkCompletion(training)" [icon]="icon" size="2x" class="icon-check"></fa-icon>
            </a>
        </div>
    </mat-grid-tile>
</mat-grid-list>