<div *ngIf = "trialDays >= 1" class="alert alert-success" role="alert">
    Дней до окончания пробного периода: {{ trialDays }}
</div>
<div *ngIf = "trialDays == 0" class="alert alert-warning" role="alert">Последний день пробного периода!</div>
<div *ngIf = "noTrainings">
    <div class="alert alert-warning" role="alert">
        Пробный период истек, обратитесь ко мне для продления доступа :) +79872525260, Регина
    </div>
    <a href="https://api.whatsapp.com/send?phone=79872525260" class="btn btn-success" target="_blank">Написать в WhatsApp</a>
</div>

<div class="row">
    <div class="col">
        <div class="row">
            <ng-container *ngFor = "let training of trainings; let i = index">
                <div class="col-4" style="margin-bottom: 2px;">
                    <div *ngIf = "training.title" class="m-0">
                        <a [routerLink] = "['/trainings/', training.category, training.key]">
                            <img [src]="training.thumbnailUrl" class="cropped" alt="{{ training.title }}">
                            
                            <fa-icon *ngIf = "checkCompletion(training)" [icon]="icon" size="2x" class="icon-check"></fa-icon>
                        </a>
                    </div>
                </div>
                <div *ngIf = "(i + 1) % 3 === 0" class="w-100"></div>
            </ng-container>
        </div>
    </div>
</div>