<mat-list>
    <ng-container *ngFor = "let user of users">
        <mat-list-item>
            <div matLine class="horizontal-list">
                {{ user.email}}
                {{ user.name }}
            </div>
            <div matLine class="horizontal-list">
                <ng-container *ngIf = "user.activeMonth">
                    <button mat-button disabled *ngFor = "let month of user.activeMonth">{{ month }}</button>
                </ng-container>
                <button mat-button color = "primary" *ngIf = "!isMonthActive(user, currentMonth)" (click) = "addMonth(user, currentMonth)">
                    +{{ currentMonth }}
                </button>
                <button mat-button color = "primary" *ngIf = "!isMonthActive(user, nextMonth)" (click) = "addMonth(user, nextMonth)">
                    +{{ nextMonth }}
                </button>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
    </ng-container>
</mat-list>
