<ng-container *ngIf = "appUser as u; else anonymousUser">
    <h3 >Здравствуй, {{u.name}}</h3>
    <h5 *ngIf = "u.lastWeight">Ваш последний вес {{ u.lastWeight }} кг</h5>
    <p *ngIf = "u.BMR">Твой базовый метаболизм {{u.BMR }} ккал в сутки</p>
    <p *ngIf = "u.kkalTarget">Чтобы добиться цели, рекомендуем потреблять около {{u.kkalTarget}} ккал в сутки</p>

    <form *ngIf = "showActions" #f = ngForm (ngSubmit) = "save(f.value)">
        Добавить новую запись в дневник:
        <mat-form-field appearance = "standard">
            <mat-label>Дата:</mat-label>
            <input matInput [matDatepicker]="picker" (dateChange) = "load()" [(ngModel)] = "date" name = "date" id="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance = "standard">
            <mat-label>Ваш вес сегодня:</mat-label>
            <input matInput [(ngModel)] = "weight" name = "weight" id= "weight" type="number">
        </mat-form-field>
        <mat-form-field appearance = "standard">
            <mat-label>Сделано шагов:</mat-label>
            <input matInput [(ngModel)] = "steps" name = "steps" id="steps" type="number">
        </mat-form-field>
        <mat-form-field appearance = "standard">
            <mat-label>Съедено калорий:</mat-label>
            <input matInput [(ngModel)] = "kkal" name = "kkal" id="kkal" type="number">
        </mat-form-field>
        <ul *ngIf = "trainingTitles && trainingTitles?.length != 0" >Выполненные тренировки:
            <li *ngFor = "let title of trainingTitles">{{ title }}</li>
        </ul>
        <mat-form-field appearance = "standard">
            <mat-label>Добавить активность:</mat-label>
            <input matInput [(ngModel)] = "activity" name = "activity" id="activity" type="text">
        </mat-form-field>
        <button mat-raised-button color = "primary" (click)="openSnackBar()">Сохранить</button>
    </form>
</ng-container>
<ng-template #anonymousUser>
    <p>Чтобы получить рекомендации по питанию и тренировкам и иметь возможность вести дневник, войдите в профиль и внесите личные данные</p>
</ng-template>