<div class="row">
    <div class="col-md-6">
        <form #f= "ngForm" (ngSubmit) = "save(f.value)">
            <div class="form-group">
                <label for="title">Название блюда</label>
                <input #title="ngModel" [(ngModel)] = "meal.title" name = "title" id= "title" type="text" class="form-control" required>
                <div class="alert alert-danger" *ngIf="title.touched && title.invalid">Введите, пожалуйста, название</div>
            </div>
            <div class="form-group">
                <label for="description">Описание</label>
                <textarea #description="ngModel" [(ngModel)] = "meal.description" name = "description" id= "description" type="text" class="form-control" required></textarea>
                <div class="alert alert-danger" *ngIf="description.touched && description.invalid">Введите, пожалуйста, описание</div>
            </div>
            <div class="form-group">
                <label for="description">Рецепт</label>
                <textarea #recipe="ngModel" [(ngModel)] = "meal.recipe" name = "recipe" id= "recipe" type="text" class="form-control" required></textarea>
                <div class="alert alert-danger" *ngIf="description.touched && description.invalid">Введите, пожалуйста, рецепт</div>
            </div>
            <upload-files 
                [url] = "meal.imageUrl"
                [type] = "'type'"
                (upload) = "onUploadFile($event)"
                (uploadIsValid) = "uploadValidTrigger($event)">
            </upload-files>


            <button class="btn btn-primary">Сохранить</button>
            <button type="button" (click) = "delete()" class="btn btn-danger">Удалить</button>
        </form>
    </div>
    <div class="col-md-6">
        <meal-card [meal] = "meal"></meal-card>
    </div>
</div>