.cropped {
    object-fit: cover;
    object-position: 50% 50%;

    width: 49vw;
    height: 45vw;
    margin: 0;
}

.box {
    width: 200px;
    height: 200px;
    margin: 10px;
    position: relative;
  }

.shade {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    position: absolute;
    top: 0;
    left: 0;
}

p {
    width: 95%;
    color: white;
    font-size: 0.8rem;
    margin: 0;
    transform: translate(-50%,-50%);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1000;
  }
  .ts {
    font-family: Arial;
    font-size: 24px;
    color: #FFFFFF;
    text-shadow: 
      -0   -1px 1px #000000,
       0   -1px 1px #000000,
      -0    1px 1px #000000,
       0    1px 1px #000000,
      -1px -0   1px #000000,
       1px -0   1px #000000,
      -1px  0   1px #000000,
       1px  0   1px #000000,
      -1px -1px 1px #000000,
       1px -1px 1px #000000,
      -1px  1px 1px #000000,
       1px  1px 1px #000000,
      -1px -1px 1px #000000,
       1px -1px 1px #000000,
      -1px  1px 1px #000000,
       1px  1px 1px #000000;
  }

  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: aliceblue;
  }

  .centered {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
  }

  mat-card {
    padding: 0;
  }