<div #demoYouTubePlayer>
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ meditation.title}}</mat-card-title>
        </mat-card-header>
            <youtube-player 
                [videoId]="videoId"
                suggestedQuality="hd720"
                [width]="videoWidth" [height]="videoHeight"
            >
            </youtube-player>
        <mat-card-content>
            <div style="white-space: pre-wrap;">{{ meditation.description }}</div>
        </mat-card-content>
    </mat-card>
</div>
