<div class="row">
  <div class="col">
    <div class="row">
      <div class="col-6 col-lg-3 text-center m-0 p-1" style="max-width: 400px; margin: auto">
        <a class="nav-link p-0" routerLink = "/trainings">
          <img class="card-img"  src="https://firebasestorage.googleapis.com/v0/b/regina-go.appspot.com/o/App%20thumbnails%2F%D0%A2%D1%80%D0%B5%D0%BD%D0%B8%D1%80%D0%BE%D0%B2%D0%BA%D0%B8.jpg?alt=media&token=5ceb4171-06a0-462a-9e20-b4737fcbb1e1"  alt="Тренировки">
        </a>
      </div>
      
      <div class="col-6 col-lg-3 text-center m-0 p-1" style="max-width: 400px; margin: auto">
        <a class="nav-link p-0" routerLink = "/diet">
          <img class="card-img"  src="https://firebasestorage.googleapis.com/v0/b/regina-go.appspot.com/o/App%20thumbnails%2F%D0%9F%D0%B8%D1%82%D0%B0%D0%BD%D0%B8%D0%B5.jpg?alt=media&token=dd79d4e9-4ea9-47d4-87fd-3217575dd881"  alt="Питание">
        </a>
      </div>
      <div class="col-6 col-lg-3 text-center m-0 p-1" style="max-width: 400px; margin: auto">
        <a class="nav-link p-0" routerLink = "/journal">
          <img class="card-img"  src="https://firebasestorage.googleapis.com/v0/b/regina-go.appspot.com/o/App%20thumbnails%2F%D0%94%D0%BD%D0%B5%D0%B2%D0%BD%D0%B8%D0%BA.jpg?alt=media&token=63f50e47-1c0d-480d-9002-1efeac47cfc6"  alt="Дневник">
        </a>
      </div>
      <div class="col-6 col-lg-3 text-center m-0 p-1" style="max-width: 400px; margin: auto">
        <a class="nav-link p-0" routerLink = "/statistics">
          <img class="card-img"  src="https://firebasestorage.googleapis.com/v0/b/regina-go.appspot.com/o/App%20thumbnails%2F%D0%A1%D1%82%D0%B0%D1%82%D0%B8%D1%81%D1%82%D0%B8%D0%BA%D0%B0.jpg?alt=media&token=a070aca2-eb6e-4c47-b464-d34a98509e5a"  alt="Статистика">
        </a>
      </div>
      <div class="col-6 col-lg-3 text-center m-0 p-1" style="max-width: 400px; margin: auto">
        <a class="nav-link p-0" routerLink = "/lectures">
          <img class="card-img"  src="https://firebasestorage.googleapis.com/v0/b/regina-go.appspot.com/o/App%20thumbnails%2F%D0%9B%D0%B5%D0%BA%D1%86%D0%B8%D0%B8.jpg?alt=media&token=34661c23-4fdb-4c53-beb9-43a5ce2b0ebe"  alt="Лекции">
        </a>
      </div>
    </div>
  </div>
</div>