<div class="card bg-dark text-center mb-3" style="max-width: 400px; margin: auto">
    <img class="card-img"  src="https://firebasestorage.googleapis.com/v0/b/regina-go.appspot.com/o/Regina_training_800px.jpg?alt=media&token=9048a2e4-cc23-4710-95d2-6a5468616499"  alt="Тренировки">
    <a class="nav-link p-0" routerLink = "/trainings">
      <div class="card-img-overlay">
        <h2 class="card-title text-white">Тренировки</h2>
      </div>
    </a>
</div>

<div class="card bg-dark text-center mb-3" style="max-width: 400px; margin: auto">
  <img class="card-img"  src="https://firebasestorage.googleapis.com/v0/b/regina-go.appspot.com/o/Regina_training_800px.jpg?alt=media&token=9048a2e4-cc23-4710-95d2-6a5468616499"  alt="Тренировки">
  <a class="nav-link p-0" routerLink = "/diet">
    <div class="card-img-overlay">
      <h2 class="card-title text-white">Питание</h2>
    </div>
  </a>
</div>
<div class="card bg-dark text-center mb-3" style="max-width: 400px; margin: auto">
  <img class="card-img"  src="https://firebasestorage.googleapis.com/v0/b/regina-go.appspot.com/o/Regina_training_800px.jpg?alt=media&token=9048a2e4-cc23-4710-95d2-6a5468616499"  alt="Тренировки">
  <a class="nav-link p-0" routerLink = "/journal">
    <div class="card-img-overlay">
      <h2 class="card-title text-white">Дневник</h2>
    </div>
  </a>
</div>
<div class="card bg-dark text-center mb-3" style="max-width: 400px; margin: auto">
  <img class="card-img"  src="https://firebasestorage.googleapis.com/v0/b/regina-go.appspot.com/o/Regina_training_800px.jpg?alt=media&token=9048a2e4-cc23-4710-95d2-6a5468616499"  alt="Тренировки">
  <a class="nav-link p-0" routerLink = "/statistics">
    <div class="card-img-overlay">
      <h2 class="card-title text-white">Статистика</h2>
    </div>
  </a>
</div>
