<button class="btn btn-info w-100" type="button" (click)="isListCollapsed = !isListCollapsed">Все тренировки</button>

<div [ngbCollapse]="isListCollapsed" class="list-group">
    <div *ngFor = "let category of categories$ | async" class="list-group-item">
        {{ category.name }}
        <div *ngFor = "let training of trainings" class="list-group">
            <div *ngIf = "training.category === category.name">
                <a [routerLink] ="['/trainings/', training.key]" class="nav-link" [class.completed] = "checkCompletion(training)">{{training.title}}, {{training.key}}</a>
            </div>
        </div>
    </div>
</div>