<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a class="navbar-brand" routerLink = "/">
        Go<fa-icon [icon]="icon" size="1x" class="primary-color"></fa-icon>Fit
    </a>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" style="z-index: 2000">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink = "/diet" (click)="isMenuCollapsed = true">Питание</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink = "/trainings" (click)="isMenuCollapsed = true">Тренировки</a>
        </li>
        <ng-container *ngIf = "appUser as user; else anonymousUser">
          <li class="nav-item">
            <a class="nav-link" routerLink = "/statistics" (click)="isMenuCollapsed = true">Моя Статистика</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink = "/journal" (click)="isMenuCollapsed = true">Дневник</a>
          </li>
          <li ngbDropdown *ngIf ="user"  class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img [src]="user.photoUrl" alt="Фото пользователя" style="width: 25px; border-radius: 100%;">
            </a>
            <div ngbDropdownMenu class="dropdown-menu">
              <a href="#" class="dropdown-item">{{user.name}}</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink = "/user-profile" (click)="isMenuCollapsed = true">Мой профиль</a>
              <a class="dropdown-item" (click)="logout()">Выйти</a>
            </div>
          </li>
        </ng-container>

        <ng-template #anonymousUser>
          <li class="nav-item">
            <a class="nav-link" routerLink = "/login" (click)="isMenuCollapsed = true">Войти</a>
          </li>
        </ng-template>
        
        <li ngbDropdown *ngIf ="appUser && appUser.isAdmin"  class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Администрирование
          </a>
          <div ngbDropdownMenu class="dropdown-menu">
              <a class="dropdown-item" routerLink = "/admin/trainings" (click)="isMenuCollapsed = true">Тренировки</a>
              <a class="dropdown-item" routerLink = "/admin/diet" (click)="isMenuCollapsed = true">Питание</a>
          </div>
        </li>
        
      </ul>
    </div>
  </nav>
<br>