<form #f= "ngForm" *ngIf = "appUser as user" (ngSubmit) = "save(f.value)">
    <mat-form-field appearance = "standard">
        <mat-label for="userName">Ваше имя:</mat-label>
        <input matInput #userName="ngModel" [(ngModel)] = "user.name" name = "userName" id= "userName" type="text" required>
        <mat-error *ngIf="userName.touched && userName.invalid">Необходимо ввести имя пользователя</mat-error>
    </mat-form-field>
    <mat-form-field appearance = "standard">
        <mat-label for="birthday">День рождения:</mat-label>
        <input matInput #birthday="ngModel" [(ngModel)] = "user.birthday" name = "birthday" id= "birthday" type="date" required>
        <mat-error *ngIf="birthday.touched && birthday.invalid">Необходимо ввести дату рождения</mat-error>
    </mat-form-field>
    <mat-form-field appearance = "standard">
        <mat-label for = "sex">Пол:</mat-label>
        <mat-select #sex = "ngModel" [(ngModel)] = "user.sex" name = "sex" id = "sex" type = "text" required>
            <mat-option value="мужской">Мужской</mat-option>
            <mat-option value="женский">Женский</mat-option>
        </mat-select>
        <mat-error *ngIf="sex.touched && sex.invalid">Выберите Ваш пол</mat-error>
    </mat-form-field>
    <mat-form-field appearance = "standard">
        <mat-label for = "lastWeight">Вес:</mat-label>
        <input matInput #lastWeight = "ngModel" [(ngModel)] = "user.lastWeight" name = "lastWeight" id = "lastWeight" type = "number" required>
        <mat-error *ngIf="lastWeight.touched && lastWeight.invalid">Необходимо ввести вес</mat-error>
    </mat-form-field>
    <mat-form-field appearance = "standard">
        <mat-label for = "height">Рост:</mat-label>
        <input matInput #height = "ngModel" [(ngModel)] = "user.height" name = "height" id = "height" type = "number" required>
        <mat-error *ngIf="height.touched && height.invalid">Необходимо ввести вес</mat-error>
    </mat-form-field>
    <mat-form-field appearance = "standard">
        <mat-label for = "physicalActivity">Физическая активность:</mat-label>
        <mat-select #physicalActivity = "ngModel" [(ngModel)] = "user.physicalActivity" name = "physicalActivity" id = "physicalActivity" type = "number" required>
            <mat-option value="1.2">Физическая нагрузка отсутствует или минимальная</mat-option>
            <mat-option value="1.38">Тренировки средней тяжести 3 раза в неделю</mat-option>
            <mat-option value="1.48">Тренировки средней тяжести 5 раз в неделю</mat-option>
            <mat-option value="1.55">Интенсивные тренировки 5 раз в неделю</mat-option>
            <mat-option value="1.64">Тренировки каждый день</mat-option>
            <mat-option value="1.73">Интенсивные тренировки каждый день или по 2 раза в день</mat-option>
            <mat-option value="1.9">Ежедневная физическая нагрузка + физическая работа</mat-option>
        </mat-select>
        <mat-error *ngIf="physicalActivity.touched && physicalActivity.invalid">Выберите Вашу цель</mat-error>
    </mat-form-field>
    <mat-form-field appearance = "standard">
        <mat-label for = "goal">Цель:</mat-label>
        <mat-select #goal = "ngModel" [(ngModel)] = "user.goal" name = "goal" id = "goal" type = "text" required>
            <mat-option value="lose">Похудение</mat-option>
            <mat-option value="gain">Набор мышечной массы</mat-option>
            <mat-option value="maintain">Функциональное развитие при поддержании веса</mat-option>
        </mat-select>
        <mat-error *ngIf="goal.touched && goal.invalid">Выберите Вашу цель</mat-error>
    </mat-form-field>
    <div class="buttonRow">
        <button mat-raised-button color = "primary">Сохранить</button>
        <button mat-raised-button (click) = "delete()" color = "warn">Удалить профиль</button>
    </div>
</form>