<div class="row">
    <div class="col">
        <div class="row">
            <ng-container *ngFor = "let lecture of lectures; let i = index">
                <div class="col-4" style="margin-bottom: 2px;">
                    <div *ngIf = "lecture.title" class="m-0">
                        <a [routerLink] = "['/lectures/', lecture.key]">
                            <img [src]="lecture.thumbnailUrl" class="cropped" alt="{{ lecture.title }}">
                            
                            <fa-icon *ngIf = "checkCompletion(lecture)" [icon]="icon" size="2x" class="icon-check"></fa-icon>
                        </a>
                    </div>
                </div>
                <div *ngIf = "(i + 1) % 3 === 0" class="w-100"></div>
            </ng-container>
        </div>
    </div>
</div>
