.steps {
    width: 100%;
    height: 5px;
    background-color: rgb(253, 147, 21);
}

.kkal {
    width: 100%;
    height: 5px;
    background-color: rgb(195, 56, 207);
}

.training {
    width: 100%;
    height: 5px;
    background-color: rgb(241, 78, 105);
}